<%- include('partials/header') %>
<%- include('partials/homenavbar') %>

<body>
    <div class="container">
        <br>
        
        <div class="card">
            <div class="card-header">
                <h2><%= articles.title %></h2>
            </div>
            <div class="card-body">
                <%- articles.body %>
            </div>
        </div>
        <br>
    
    </div>
    <br>
</body>
<%- include('partials/footer') %>